*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body ::-webkit-scrollbar, html ::-webkit-scrollbar {
    display: none;
    width: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    min-width: 320px;
}
main {
    min-height: 4309px;
    background-color: #011627;
    background-image: url('../img/Main.png');
    background-size: cover;
}
.px-sm-5 {
    padding-right: 8rem!important;
    padding-left: 8rem!important;
}
.gradientmain {
    position: absolute;
    min-height: 315px;
    left: 0;
    right: 0;
    bottom: -3500px;
    background-image: url('../img/Gradient\ transition.png');
}
/* ----------------------header---------------------- */
.header {
    height: 100%;
    background-image: url("../img/header.jpeg");
    background-position: center;
    background-size: cover;
    min-height: 1192px;
    --bs-gutter-x: 0rem;
}
.header-item-search {
    padding: 62px 0px 56px 56px;
}
.btn-lg-edit {
    width: 167px;
    height: 62px;
    box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
}
.header-item-button-text {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.1em;
}
.header-item-line {
    position: relative;
    left: -20px;
    width: 30px;
    height: 2px;
}
.header-main {
    color: white;
}
.header-heading-text {
    font-family: 'bitter_probold';
    text-align: center;
    font-weight: 700;
    font-size: 120px;
    line-height: 153px;
    letter-spacing: -0.02em;
}
.header-subheading-text {
    font-family: 'sf_pro_displaybold';
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.header-subsubheading-text {
    font-family: 'sf_pro_displayregular';
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    width: 50%;
}
.header-scroll-text {
    position: relative;
    bottom: 100px;
    left: 20px;
    font-family: 'sf_pro_displayregular';
    color: white;
    font-weight: 700;
    font-size: 17px;
    line-height: 190%;
    letter-spacing: 0.05em;
    opacity: 0.9;
    transform: rotate(-90deg);
}
.social-item-header {
    padding: 10px 0 10px 0;
}
.underheader {
    margin-top: 100px;
}
.gradientheader {
    min-height: 315px;
    background-image: url('../img/Gradient\ transition.png');
}
@media(max-width:768px) {
    .header-item-line {
        display: none;
    }
}
/* ---------------------------------------------------- */
/* ------------------Pick your trip-------------------- */
.Pick-your-trip {
    min-height: 1031px;
}
.pick-your-trip-h1 {
    color: white;
    font-family: 'bitter_probold';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    /* or 79px */
    text-align: center;
    letter-spacing: -0.02em;
}
.pick-your-trip-ul {
    color: white;
    text-decoration: none;
}
.pick-your-trip-p {
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    letter-spacing: -0.02em;
}
.desert {
    color: white;
    font-family: 'bitter_probold';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 110%;
    /* identical to box height, or 72px */
    letter-spacing: -0.02em;
}
.subtext-desert {
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
    /* or 26px */
    letter-spacing: -0.02em;
}
.subtext-desert-2 {
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    /* or 26px */
    letter-spacing: -0.02em;
}
.btn-lg-edit-2 {
    width: 267px;
    height: 65px;
    background: #00C9E0;
    /* Button Shadow */
    box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
    border-radius: 183px;
}
.desert-item-button-text {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 190%;
    /* identical to box height, or 27px */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
}
.desert-item-line {
    position: relative;
    left: -15px;
    top: 79px;
}
.share-social {
    display: flex;
    flex-direction: column-reverse;
    min-width: 100px;
}
.share-social-text {
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 22px */
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.social-item-desert {
    padding: 10px 10px;
}
.social-desert-gimmick-line {
    position: relative;
    right: 121px;
    top: 10px;
}
@media(max-width:768px){
    .desert-item-line {
        display: none;
    }
}
@media(max-width:1200px) {
    .desert-img {
        display: none;
    }
}
/* ----------------------About Us------------------------ */
.about-us {
    min-height: 2982px;
    background-image: url('../img/About\ Us.png');
    background-size: cover;
}
.about-us-info {
    max-width: 400px;
}
.about-us-text {
    color: white;
    font-family: 'bitter_probold';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    /* or 79px */
    letter-spacing: -0.02em;
}
.about-us-subtext-bold {
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    letter-spacing: -0.02em;
}
.about-us-subtext {
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    letter-spacing: -0.02em;
}
.btn-lg-edit-3 {
    width: 282px;
    height: 65px;
    background: #00C9E0;
    /* Button Shadow */
    box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
    border-radius: 183px;
}
.about-us-button-text {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 190%;
    /* identical to box height, or 27px */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
}
.about-us-button-line {
    position: relative;
    left: -22px;
    top: 0px;
}
.about-us-img {
    max-width: 50%;
}
.about-us-img img {
    max-width: 100%;
    height: 100%;
    object-fit: contain; 
}
@media(max-width:992px){
    .about-us-button-line {
        display: none;
    }
}
/* -------------------------people's thoughts--------------------- */
.people_s-thoughts {
    position: absolute;
    min-width: 1680px;
    min-height: 1448px;
    left: 20px;
    right: 20px;
    bottom: -4000px;
    background-color: #011627;
    border-radius: 10px;
}
.people_s-thoughts-h1 {
    color: white;
    font-family: 'bitter_probold';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    /* or 79px */
    text-align: center;
    letter-spacing: -0.02em;
}
.people_s-thoughts-h2 {
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.people_s-thoughts-item {
    width: 510px;
    height: 504px;
    background: #02223B;
    box-shadow: 0px 20px 30px rgba(0, 201, 224, 0.03);
    border-radius: 5px;
}
.people_s-thoughts-item-card {
    width: 50%;
}
.people_s-thoughts-quotes {
    position: relative;
    top: 23px;
    left: -55px;
}
.people_s-thoughts-item-text {
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 190%;
}
.people_s-thoughts-item-subtext {
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 190%;
}
.people_s-thoughts-undertitle {
    color: white;
    font-family: 'bitter_probold';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    /* or 79px */
    text-align: center;
    letter-spacing: -0.02em;
}
.people_s-thoughts-undersubtitle {
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 150%;
    /* or 36px */
    text-align: center;
    letter-spacing: 0.07em;
}
/* --------------------------------------------------- */
/* -----------------------footer---------------------- */
.footer {
    background-color: #011627;  
    min-height: 527px;
    margin: 0;
    padding: 0;
}
.footer-p {
    color: white;
    font-family: 'sf_pro_displayregular';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    text-transform: uppercase;
    letter-spacing: 0.11em;
}
.footer-list {
    color: white;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-copyright {
    color: white;
    font-family: 'Larsseit';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    text-align: center;
}
.footer-logo {
    position: relative;
    margin: 0;
    padding: 0;

}